Repository NoNameNo1F/NashtechPractical.AssetManagement: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-ci.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-ci.yml: any of: NashtechPractical.AssetManagement.Application, NashtechPractical.AssetManagement.Core, NashtechPractical.AssetManagement.Infrastructure, NashtechPractical.AssetManagement.Shared, NashtechPractical.AssetManagement.WebAPI, azure-pipelines-ci.yml
  azure-pipelines.yml: any of: NashtechPractical.AssetManagement.Application, NashtechPractical.AssetManagement.Core, NashtechPractical.AssetManagement.Infrastructure, NashtechPractical.AssetManagement.Shared, NashtechPractical.AssetManagement.WebAPI, NashtechPractical.AssetManagement.WebAPI/Dockerfile, azure-pipelines-cd.yml

Set up CD with Azure Pipelines (#3)
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

Delete azure-pipelines-ci.yml
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

Delete azure-pipelines.yml
  azure-pipelines.yml
Due: none

Delete azure-pipelines.yml (#5)
  azure-pipelines.yml
Due: none

Delete azure-pipelines-ci.yml (#4)
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

Delete azure-pipelines-cd.yml
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

Delete azure-pipelines-cd.yml (#6)
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

feat(ci): set azure ci pipelines
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

feat(ci): set azure ci pipelines (#7)
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

feat(cd): Set up CD with Azure Pipelines
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

feat(cd): Set up CD with Azure Pipelines (#8)
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

feat(cd): Update azure-pipelines-cd.yml for Azure Pipelines
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

fix(cd): specify env for publish step
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

Update azure-pipelines-cd.yml for Azure Pipelines
  azure-pipelines-cd.yml
Due: azure-pipelines.yml

Azure pipelines cd (#9)
  azure-pipelines-cd.yml
Due: azure-pipelines.yml
